
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
  <!-- header start -->

<!--  <section class="main_home">
</section> -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <img src="assets/logo.png" alt="logo" width="180px;">
    </div>
    <div class="col-md-9">
      <div class="col-md-9 col-md-offset-3">
        <div class="col-md-6 header_info">
          <ul>
            <li>info@heler.in</li>
            <li>+91-88-8020-8020</li>
          </ul>
        </div>
        <div class="col-md-4 header_nav">
          <ul>
            <li routerLink="login">LOGIN</li>
            <li routerLink="register">REGISTER</li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 main_menu">
       <ul class="menu">
        <li>
         <a routerLink="home">home</a>
       </li>
       <li>
         <a routerLink="services">services</a>
       </li> 
       <li>
         <a routerLink="about">aboutus</a>
       </li>
       <li>
         <a routerLink="technology-treatment">technology & Treatment</a>
       </li>
       <li>
         <a routerLink="condition">conditions</a>
       </li>
       <li>
         <a routerLink="blog">blogs</a>
       </li>
       <li>
         <a routerLink="careers">careers</a>
       </li>
       <li>
         <a routerLink="gallery">gallery</a>
       </li>
       

     </ul>
   </div>
 </div>
</div>
</div>
<div class="clear"></div>

<!-- header end -->


<!-- Latest compiled and minified jQery -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
<p>
  header works!=====================>ok
</p>
