<p>
  footer works!=====================>footer
</p>
<footer class="primary clear-both">

				<section class="menu-socailmedia text-center">

					<div class="container">

						<div class="col-md-4 col-sm-6  col-xs-12 footer-text">

							<h4>
								<span>ABOUT HELER</span>
							</h4>

							<p class="text-left">&nbsp;Heler is a unique facility offering some of “The First Services” in India like Web Consultation and Vulvo Vaginal Laser Rejuvenation. We offer a complete array of Aesthetic services, Bridal services, Cosmetic procedures, Dermatological treatments and Lifestyle procedures.</p>

						</div>
						<div class="col-md-5  col-sm-4  col-xs-12 footer-text footer-links hide">
							<h4>
								<span>USEFUL LINKS</span>
							</h4>
																										
								<div class="col-md-5 ">
									<ul class="nav nav-pills nav-stacked">
																																<li><a href="/blog">Blog</a></li>																																												<li><a href="/doctors">Doctors</a></li>																							
									</ul>
								</div>							
													</div>
						<div class="col-md-8  col-sm-6  col-xs-12 footer-text">

							<h4>
								<span>CONNECT US</span>
							</h4>
							<div class="col-md-12 social-mainblock">

								<ul class="social-media">
									<li><a class="facebook" href="https://www.facebook.com/HelerClinic/" target="_blank"><span class="fb-footer"><i class="fa fa-facebook"></i></span>Facebook </a></li>
									<li><a class="twitter" href="#"><span class="twitter-footer"><i class="fa fa-twitter"></i></span>Twitter</a></li>
									<li><a class="linkedin" href="#"><span class="linkedin-footer"><i class="fa fa-linkedin"></i></span>Linkedin</a></li>
												<li><a class="g+" href="#" target="_blank"><span class="google-footer"><i class="fa fa-google-plus"></i></span>Google + </a></li>
									<li><a class="pinterest" href="https://in.pinterest.com/helerclinic/" target="_blank"><span class="pinterest-footer"><i class="fa fa-pinterest"></i> </span>Pinterest</a></li>
									<li><a class="youtube" href="#"><span class="youtube-footer"><i class="fa fa-play-circle-o"></i></span>Youtube</a></li>
									<li><a class="youtube" href="https://www.instagram.com/helerclinic/" target="_blank"><span><img src="/rinafi/img/rihna/instagram-icon.png"></span>Instagram</a></li>
									<li><a href="http://heler.in/sitemap.xml"><span><img src="/rinafi/img/rihna/site_map.png"></span>Sitemap</a></li>

								</ul>
							</div>


						</div>


					</div>


				</section>

				<section class="copy-right text-center">
					<div class="container">© 2016. <a href="http://heler.in/">heler.in </a>- All Rights Reserved</div>
				</section>

			</footer>	