<p>
  book-appointment works!
</p>
<section class="book-appointment">


	<div class="col-md-12">

		<div class="col-md-12">
			<div class="col-md-12">
				<a href="javascript:;" class="col-md-4  text-center book_head_in">

					<div class="col-md-12 parallelogram2 text-center">

						<img src="/rinafi/img/rihna/bookanappointment.png">

						<h3>Book an appointment</h3>

					</div>


				</a>

				<a class="col-md-4  text-center" href="/booking/webconsulting"><div class="col-md-12 parallelogram2 text-center"><img alt="" src="/rinafi/img/rihna/videoconsultation.png">

					<h3>Video consultation</h3>
				</div></a>
				<a href="#" class="col-md-4  text-center">


					<div class="col-md-12 parallelogram2 text-center">

						<img src="/rinafi/img/rihna/servicesoffered.png" class="">
						<h3>Conditions treated	</h3>
					</div>
				</a>
			</div>
		</div>

	</div>
</section>