<p>
  testimonial works!
</p>
<section class="testimonial pad-top-50 pad-bottom-50">
			<div class="container content">
				<div id="myCarousel" class="carousel slide common-colr" data-ride="carousel">
				<!-- Indicators -->


				<h2 class="text-center common-colr">Testimonial</h2>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
											<div class="item">
							<div class="row">
								<div class="col-xs-12">
									<div class=" adjust1  col-md-10 	">
										<div class="col-md-4 col-sm-4 col-xs-4 testimonial-img">
											<img class="media-object img-rounded img-responsive" src="http://heler.in//admin/default/user_256_256.png" width="232" height="232" alt="">										</div>
										<div class="col-md-8 col-sm-8 col-xs-8 testimonials-content">

											<div class="caption">

												<p>At Heler, I have undergone a laser treatment to cut down excessive hair growth on my face. This amazing skin care clinic provides a variety of skin treatments that not only benefits our physical appearance, but also accentuates the confidence. Thanks to the friendly doctors who had taken special care on the course of treatment. Cos of the ultimate result i strongly recommended the clinic to unleash 'the beautiful you!'</p>

												<div class="text-right">
													<span class="deisnation-testimonial">Vishwanatj Mundlue</span>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
												<div class="item">
							<div class="row">
								<div class="col-xs-12">
									<div class=" adjust1  col-md-10 	">
										<div class="col-md-4 col-sm-4 col-xs-4 testimonial-img">
											<img class="media-object img-rounded img-responsive" src="http://heler.in//admin/default/user_256_256.png" width="232" height="232" alt="">										</div>
										<div class="col-md-8 col-sm-8 col-xs-8 testimonials-content">

											<div class="caption">

												<p>It was a blessing in disguise visiting this just so amazing place. Suffering from adult acne and scars from 10 years had visited various dermatologists at different centres looking for results  but in vain,all of them giving only superficial and temporary results. But Heler gave me the answers with their different approach and I could actually see my skin improve. Would highly recommend this place for any kind of skin n hair related issues.</p>

												<div class="text-right">
													<span class="deisnation-testimonial">Dayanand  Salagare</span>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
												<div class="item">
							<div class="row">
								<div class="col-xs-12">
									<div class=" adjust1  col-md-10 	">
										<div class="col-md-4 col-sm-4 col-xs-4 testimonial-img">
											<img class="media-object img-rounded img-responsive" src="http://heler.in//admin/default/user_256_256.png" width="232" height="232" alt="">										</div>
										<div class="col-md-8 col-sm-8 col-xs-8 testimonials-content">

											<div class="caption">

												<p>I've been to many skin clinics before for my hair removal laser treatment and none of them gave me the desired output, but after visiting heler , i feel its the best place one can be. from ambiance to service everything is perfect . The doctors are very kind ,patient and helpful. I am very happy with the service provided.</p>

												<div class="text-right">
													<span class="deisnation-testimonial">Shruthi Caritorrq</span>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
												<div class="item active">
							<div class="row">
								<div class="col-xs-12">
									<div class=" adjust1  col-md-10 	">
										<div class="col-md-4 col-sm-4 col-xs-4 testimonial-img">
											<img class="media-object img-rounded img-responsive" src="http://heler.in//admin/default/user_256_256.png" width="232" height="232" alt="">										</div>
										<div class="col-md-8 col-sm-8 col-xs-8 testimonials-content">

											<div class="caption">

												<p>Had a little acne and scars, being a part of the Heler family I had faith and trust. Dr. Govind is a very friendly man and I just got one peel done and I can see amazing results. Ambience, hospitality at the desk, everything is perfect.. Way to go Heler!</p>

												<div class="text-right">
													<span class="deisnation-testimonial">Kalavathi A N</span>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
												<div class="item">
							<div class="row">
								<div class="col-xs-12">
									<div class=" adjust1  col-md-10 	">
										<div class="col-md-4 col-sm-4 col-xs-4 testimonial-img">
											<img class="media-object img-rounded img-responsive" src="http://heler.in//admin/default/user_256_256.png" width="232" height="232" alt="">										</div>
										<div class="col-md-8 col-sm-8 col-xs-8 testimonials-content">

											<div class="caption">

												<p>Was a pleasant experience with heler. I had my skin tags around the neck removed in no time using their state of the art laser machine  and its given a good result, the best part being the intervention of their senior dermatologists hands on during the procedure... enjoyed my treatment</p>

												<div class="text-right">
													<span class="deisnation-testimonial">Vishwanatj Mundlue</span>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						

					</div>
					<!-- Controls -->
					<!-- Left and right controls -->
					<div class="controls">
						<div class="left  prev" href="#myCarousel" role="button"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

						</div> <span class="left dot-bu">.</span>
						<div class="right  next" href="#myCarousel" role="button"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

					</div>
				</div>


			</div>
		</div>
	</section>