<p>
  technology-treatment works!
</p>
<section class="content-wrapper clear-both">
	<div class="container">
	<div class="row">
    <section id="page-title-wrapper" class="page-title-wrapper">
        <div class=" pdg0">
            <div class="col-md-12 pdg0">
                <div class="col-sm-6 pdlt0">
                 <h1 class="main-content-heading">MICRO DERMA ABRASION </h1>
             </div>
             <!-- /.col-sm-6 -->
             <div class="col-xs-6 hidden-xs pdg0">
                <ul class="breadcrumb pull-right"><li><a href="/">Home</a></li>
<li class="active">MICRO DERMA ABRASION</li>
</ul>                </div>
                <!-- /.col-xs-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</div>

<style>
    h1.main-content-heading {
        font-size : 16px;
        margin-top : 10px!important;
    }
</style>

	<div class="row mrgntp30">
		<div class="col-md-12 cms-contentpage">
			<p style="text-align: justify;">Microdermabrasion facial is a deeply effective treatment for renewing a fresh, young-looking glow to your skin.<br>
Microdermabrasion can best be described as plastic surgery without the plastic... or the surgery! It's one of the simplest and least disruptive skin treatments and is ideal even for people with sensitive skin.</p>

<p style="text-align: justify;"><br>
The microdermabrasion technique works with microcrystals, which are hard enough to disrupt unwanted tired skin cells that cause dull looking skin. But small enough not to do any damage or even cause discomfort or pain. The technique involves propelling the microcrystals across the skin's surface, removing only the top layer of skin cells. This technology reveals new, living cells leaving a healthy glow. The epidermal layers of the skin are rejuvenated leading to collagen production and plumper skin.</p>

<p style="text-align: justify;"><br>
Microdermabrasion is a progressive procedure. After the first session your skin will feel softer and you may see a very subtle improvement. Generally a course of sessions is required to gain visible improvement. Your skin however will improve with additional treatments as increased circulation is noted within the dermis and newer, healthier skin cells are produced.</p>

<p>&nbsp;</p>
		</div>
	</div>
	</div>
</section>