<p>
  subscribe works!
</p>
<section class="newsletter-section clear-both">
				<div class="col-md-12 pdlt0">
				
					<div class="col-md-5  col-sm-5  col-xs-12 pdlt0 ">
						<div class="newsletter-left">
							<div class="col-md-7 col-md-offset-5 col-xs-12 text-left">
								 <span class="resp-none"><h2 class="sub-news">SUBSCRIBE</h2>
								<h2>NEWSLETTER</h2></span>
								<div class="res-enable news-letterrsp">Subscribe Newsletter</div>
							</div>
						</div>
					</div>


					<div class="col-md-7  col-sm-7  col-xs-12 ">
						<div class="col-md-8 newsletter-input">
						 <form id="w0" action="/newsletter/create" method="post">
<input type="hidden" name="_csrf" value="WTQyeUZmZzFqTAo/DyAhR2pCRwgqJQF6Dn5mDiskH3YaTXs6dC0iBA==">						  <div class="form-group field-newsletter-email_id required">

<input type="text" id="newsletter-email_id" class="form-control" name="NewsLetter[email_id]" placeholder="Email (Required)" style="height:43px">

<div class="help-block"></div>
</div>						   <button type="submit" class="btn-newsletter"><img src="/rinafi/img/rihna/newsletter-icon.png" class=""></button>						   
							 </form>						</div>
					</div>

				</div>
			</section>