
<!-- <app-slider></app-slider>
<app-book-appointment></app-book-appointment>


<app-testimonial></app-testimonial>
<app-subscribe></app-subscribe> -->

<!-- content block start -->

<section id="services" class="pad-top-50 pad-bottom-50 respdspnone">
	<div class="container">
		<div class="row">
			<!-- First content block start -->
			<div class="col-md-12 content-block1 common-colr">

				<div class="col-md-5 col-sm-5   col-xs-12  ">

					<img src="/rinafi/img/rihna/wel come to heler.jpg" class="max100">
				</div>

				<div class="col-md-7 col-sm-7 text-left pdrt0  col-xs-12   ">

					<h2 class="common-colr">Welcome to ngHeler co</h2>

					<div class="content-service">Heler is a “state-of-the-art” tertiary care non-invasive Dermatology & Aesthetic clinic for men women and children. We offer complete solutions for all your skin, hair and intimate disorders. 


						Heler is a unique facility offering some of “The First Services” in India like Web Consultation and Vulvo Vaginal Laser Rejuvenation. We offer a complete array of Aesthetic services, Bridal services, Cosmetic procedures, Dermatological treatments and Lifestyle procedures.</div>
						<div class="col-md-12 pad-top-50">
							<a href="/page/world-class-heler" class="btn btn-default">View more</a>
						</div>

					</div>
					<div class="subpage-title">
						<h5></h5>
					</div>
				</div>
			</div>
			<!-- first content block end -->
			<!-- second content block start -->

			<div class="row pad-top-50">
				<div class="col-md-12 content-block1 common-colr">



					<div class="col-md-7 col-sm-7 text-left pdrt0 col-xs-12">

						<h2 class="common-colr">World Class Heler</h2>

						<div class="content-service">At Heler we have every reason to believe that our clients would find our services exceptionally satisfying. All our services and procedures are delivered by highly experienced professionals-including Dermatologists, Internal Medicine Specialists, Gynaecologists, Urologist, Nurses and trained Aestheticians -each with at least 5 years of experience. We start with detailed analysis of your condition and expectations, optimising services in accordance with your wishes. If you’re looking for the highest calibre of care, you’ve come to the right place. You can be sure of complete confidentiality, provided in our discreet and welcoming atmosphere.</div>
						<div class="col-md-12 hidden-xs pad-top-50">
							<a href="/page/world-class-heler" class="btn btn-default">View more</a>
						</div>

					</div>
					<div class="col-md-5 col-sm-5   col-xs-12 ">
						<iframe width="100%" height="300px" src="https://www.youtube.com/embed/KHvHSd4ja5g?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

					</div>
					<div class="col-md-12 enable-xs pad-top-50">
						<a href="#" class="btn btn-default">View more</a>
					</div>
					<div class="subpage-title">
						<h5></h5>
					</div>
				</div>
			</div>
			<!-- second content block end -->
			<!-- third content block start -->
			<div class="row pad-top-50">
				<div class="col-md-12 content-block1 common-colr">

					<div class="col-md-5 col-sm-5   col-xs-12 ">

						<img src="/rinafi/img/rihna/heler advantage.jpg" class="max100">
					</div>

					<div class="col-md-7 col-sm-7 text-left pdrt0 col-xs-12">

						<h2 class="common-colr">Heler Advantage</h2>

						<div class="content-service">In this world of “thrilling” and “captivating” marketing strategies the cosmetic industry is moving away from the medicine’s traditional principle of ‘a treatment for each patient’ to a confusing mess of a la carte services. These services are offered by cosmetologists, non-dermatologists and the uber fancy Trichologists who essentially are non-doctors. More and more patients are being led to believe that they can pick and choose procedures on their own, with no understanding of the science behind these indications.  We, at Heler beg to differ and hence offer treatments and services based on thorough consultation, clinical knowledge and detailed interpretation of your condition and expectations.</div>
						<div class="col-md-12 pad-top-50">
							<a href="page/heler-advantage" class="btn btn-default">View more</a>
						</div>

					</div>
					<div class="subpage-title">
						<h5></h5>
					</div>
				</div>
			</div>
			<!-- third content block end -->
			<!-- fourth content block start -->

			<div class="row pad-top-50">
				<div class="col-md-12 content-block1 common-colr">



					<div class="col-md-7 col-sm-7 text-left pdrt0 col-xs-12">

						<h2 class="common-colr">Technology and Treatment</h2>

						<div class="content-service">FemTouchtm is state of the art CO2 laser technology that addresses vaginal health related conditions by promoting the remodeling of vaginal mucous layer. The Fractional CO2 laser is applied along the vaginal wall which results in very gentle controlled ablation and coagulation of the vaginal lining.</div>
						<div class="col-md-12 hidden-xs pad-top-50">
							<a href="#" class="btn btn-default">View more</a>
						</div>

					</div>
					<div class="col-md-5 col-sm-5   col-xs-12 ">

						<img src="/rinafi/img/rihna/technlogy1.jpg" class="max100">
					</div>
					<div class="col-md-12 enable-xs pad-top-50">
						<a href="page?id=14" class="btn btn-default">View more</a>
					</div>


				</div>
			</div>
			<!-- fourth content block end -->
		</div>


	</section>
	<!--responsive content block start-->
	<section id="services" class="pad-top-50 pad-bottom-50 respenable">
		<div class="container">
			<div class="row">
				<!-- First content block start -->
				<div class="col-md-12 content-block1 common-colr">

					<div class="col-md-5 col-sm-5  col-xs-12  ">

						<img src="/rinafi/img/rihna/wel come to heler.jpg" class="max100">
					</div>

					<div class="col-md-7 col-sm-7 text-left pdrt0 col-sm-12  ">

						<h2 class="common-colr">Welcome to Heler</h2>

						<div class="content-service">Heler is a “state-of-the-art” tertiary care non-invasive Dermatology & Aesthetic clinic for men women and children. We offer complete solutions for all your skin, hair and intimate disorders. 


							Heler is a unique facility offering some of “The First Services” in India like Web Consultation and Vulvo Vaginal Laser Rejuvenation. We offer a complete array of Aesthetic services, Bridal services, Cosmetic procedures, Dermatological treatments and Lifestyle procedures.</div>
							<div class="col-md-12 btn-respnbl pdlt0">
								<a href="/page/world-class-heler" class="btn btn-default">View more</a>
							</div>

						</div>
						<div class="subpage-title">
							<h5></h5>
						</div>
					</div>
				</div>
				<!-- first content block end -->
				<!-- second content block start -->

				<div class="row pad-top-50">
					<div class="col-md-12 content-block1 common-colr">

						<div class="col-md-5 col-sm-5  col-xs-12 ">
							<iframe width="100%" height="300px" src="https://www.youtube.com/embed/KHvHSd4ja5g" frameborder="0" allowfullscreen></iframe>

						</div>

						<div class="col-md-7 col-sm-7 text-left pdrt0 col-xs-12">

							<h2 class="common-colr">World Class Heler</h2>

							<div class="content-service">At Heler we have every reason to believe that our clients would find our services exceptionally satisfying. All our services and procedures are delivered by highly experienced professionals-including Dermatologists, Internal Medicine Specialists, Gynaecologists, Urologist, Nurses and trained Aestheticians -each with at least 5 years of experience. We start with detailed analysis of your condition and expectations, optimising services in accordance with your wishes. If you’re looking for the highest calibre of care, you’ve come to the right place. You can be sure of complete confidentiality, provided in our discreet and welcoming atmosphere.</div>
							<div class="col-md-12 hidden-xs btn-respnbl pdlt0">
								<a href="/page/world-class-heler" class="btn btn-default">View more</a>
							</div>

						</div>

						<div class="col-md-12 enable-xs btn-respnbl">
							<a href="#" class="btn btn-default">View more</a>
						</div>
						<div class="subpage-title">
							<h5></h5>
						</div>
					</div>
				</div>
				<!-- second content block end -->
				<!-- third content block start -->
				<div class="row pad-top-50">
					<div class="col-md-12 content-block1 common-colr">

						<div class="col-md-5 col-sm-5   col-xs-12  ">

							<img src="/rinafi/img/rihna/heler advantage.jpg" class="max100">
						</div>

						<div class="col-md-7 col-sm-7 text-left pdrt0 col-xs-12">

							<h2 class="common-colr">Heler Advantage</h2>

							<div class="content-service">In this world of “thrilling” and “captivating” marketing strategies the cosmetic industry is moving away from the medicine’s traditional principle of ‘a treatment for each patient’ to a confusing mess of a la carte services. These services are offered by cosmetologists, non-dermatologists and the uber fancy Trichologists who essentially are non-doctors. More and more patients are being led to believe that they can pick and choose procedures on their own, with no understanding of the science behind these indications.  We, at Heler beg to differ and hence offer treatments and services based on thorough consultation, clinical knowledge and detailed interpretation of your condition and expectations.</div>
							<div class="col--12 btn-respnbl">
								<a href="page/heler-advantage" class="btn btn-default">View more</a>
							</div>

						</div>
						<div class="subpage-title">
							<h5></h5>
						</div>
					</div>
				</div>
				<!-- third content block end -->
				<!-- fourth content block start -->

				<div class="row pad-top-50">
					<div class="col-md-12 content-block1 common-colr">

						<div class="col-md-5 col-sm-5   col-xs-12  ">

							<img src="/rinafi/img/rihna/technlogy1.jpg" class="max100">
						</div>

						<div class="col-md-7 col-sm-7 text-left pdrt0 col-xs-12">

							<h2 class="common-colr">Technology and Treatment</h2>

							<div class="content-service">FemTouchtm is state of the art CO2 laser technology that addresses vaginal health related conditions by promoting the remodeling of vaginal mucous layer. The Fractional CO2 laser is applied along the vaginal wall which results in very gentle controlled ablation and coagulation of the vaginal lining.</div>
							<div class="col-md-12 hidden-xs pad-top-50">
								<a href="#" class="btn btn-default">View more</a>
							</div>

						</div>

						<div class="col-md-12 enable-xs  btn-respnbl">
							<a href="page?id=14" class="btn btn-default">View more</a>
						</div>


					</div>
				</div>
				<!-- fourth content block end -->
			</div>


		</section>
		<!--responsive content block end-->




			
