<p>
  register works!
</p>
<div class="row">
    <form id="form-signup" action="/site/signup" method="post" role="form">
<input type="hidden" name="_csrf" value="TWpxTVVaaER.EkkLHBwuMn4cBDw5GQ4PGiAlOjgYEAMOEzgOZxEtcQ==">        <div class="col-lg-12">
        

                <div class="form-group field-signupform-first_name required">
<label class="control-label" for="signupform-first_name">First Name</label>
<input type="text" id="signupform-first_name" class="form-control" name="SignupForm[first_name]">

<p class="help-block help-block-error"></p>
</div>                <div class="form-group field-signupform-last_name">
<label class="control-label" for="signupform-last_name">Last Name</label>
<input type="text" id="signupform-last_name" class="form-control" name="SignupForm[last_name]">

<p class="help-block help-block-error"></p>
</div>                <div class="form-group field-signupform-mobile required">
<label class="control-label" for="signupform-mobile">Mobile</label>
<input type="text" id="signupform-mobile" class="form-control" name="SignupForm[mobile]">

<p class="help-block help-block-error"></p>
</div>                 <div class="form-group field-signupform-email required">
<label class="control-label" for="signupform-email">Email</label>
<input type="text" id="signupform-email" class="form-control" name="SignupForm[email]">

<p class="help-block help-block-error"></p>
</div>                 <div class="form-group field-signupform-password required">
<label class="control-label" for="signupform-password">Password</label>
<input type="password" id="signupform-password" class="form-control" name="SignupForm[password]">

<p class="help-block help-block-error"></p>
</div>                  <div class="form-group col-md-12 pdg0">
                    <button type="submit" class="btn btn-primary loginpage-btn col-md-12 col-sm-12  col-xs-12" name="signup-button">Signup</button>                </div>

                 <div class="form-group field-signupform-type">

<input type="hidden" id="signupform-type" class="form-control" name="SignupForm[type]">

<p class="help-block help-block-error"></p>
</div>                 <div class="form-group field-signupform-fbid">

<input type="hidden" id="signupform-fbid" class="form-control" name="SignupForm[fbid]">

<p class="help-block help-block-error"></p>
</div>                <div class="form-group field-signupform-profile">

<input type="hidden" id="signupform-profile" class="form-control" name="SignupForm[profile]">

<p class="help-block help-block-error"></p>
</div>            
        </div>

        </form>                 <div class="form-group col-md-12 pdg0 clear-both text-center  or">OR</div>

          <div class=" col-md-12  clear-both">
                   <a href="/site/login" class="btn redbg btn-primary loginpage-btn col-md-12  col-sm-12  col-xs-12 "> Login</a>
                </div>
       
    </div>